body {
  background-color: whitesmoke;
}
.input-style {
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  width: 200px;
}
button {
  border-radius: 3px;
  color: white;
  background-color: darkred;
  width: 70px;
}
.center {
  margin: auto;
  width: 50%;
  padding: 5%;
}
.background {
  background-color: lightgray;
  width: 90%;
  margin: auto;
}
h1 {
  color: black;
  font-size: 1em;
  margin-bottom: 0.3em;
  text-align: center;
}
